# q1:print

ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron

In [183]:
for i in range(1, 5):
    for j in range(i):
        print("ineuron", end=" ")
    print()

ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron

q2:print
           ineuron
    ineuron       ineuron
ineuron    ineuron        ineuron
    ineuron       ineuron
            ineuron

In [184]:
n = 5
for i in range(n-1):
    for j in range(i,n):
        print(" ", end =" ")
    for j in range(i):
        print("ineuron",end = " ")
    for j in range(i+1):
        print("ineuron", end = " ")
    print()
for i in range(n):
    for j in range(i+1):
        print(" ", end =" ")
    for j in range(i,n-1):
        print("ineuron",end = " ")
    for j in range(i,n):
        print("ineuron", end =" ")
    print()

          ineuron
        ineuron ineuron ineuron
      ineuron ineuron ineuron ineuron ineuron
    ineuron ineuron ineuron ineuron ineuron ineuron ineuron
  ineuron ineuron ineuron ineuron ineuron ineuron ineuron ineuron ineuron
    ineuron ineuron ineuron ineuron ineuron ineuron ineuron
      ineuron ineuron ineuron ineuron ineuron
        ineuron ineuron ineuron
          ineuron

In [185]:
#Data
L = [[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{"k1" :"Shohaib" ,"k2":"ineuron","k3":"Shaikh",3:6,7:8},["ineuron","data science"]]

In [186]:
#try to extract all the list entity.
for i in L:
    if type(i) == list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science']

In [187]:
#try to extract all the dictionary entities
for i in L:
    if type(i) == dict:
        print(i)

{'k1': 'Shohaib', 'k2': 'ineuron', 'k3': 'Shaikh', 3: 6, 7: 8}

In [188]:
#try to extract all the tuples entities
for i in L:
    if type(i) == tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [189]:
#try to extract all the numerical data it may be a part of dict key and values:

for i in L:
    if (type(i) == list or type(i) == tuple or type(i) == set):
        for j in i:
            if type(j) == int:
                print(j)
    elif type(i) == dict:
        for k in i.keys():
            if type(k) == int:
                print(k)
        for l in i.values():
            if type(l) == int:
                print(l)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
45
4
5
23
3
7
6
8

In [190]:
#try to give a summation of all the numeric data
summation1 = 0
summation2 = 0
summation3 = 0

for i in L:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == int:
                summation1 = summation1 + j
    if type(i) == dict:
        for k in i.keys():
            if type(k) == int:
                summation2 = summation2 + k
        for l in i.values():
            if type(l) == int:
                summation3 = summation3 + l
print("The Summation of all numeric integers is:",summation1 + summation2 + summation3)

The Summation of all numeric integers is: 156

In [191]:
#try to filter out all the odd values out of all numeric data which is the part of a list
odd_numbers_list= []
for i in L:
    if type(i) == list:
        for j in i:
            if type(j) == int and j%2 != 0:
                odd_numbers_list.append(j)
                
odd_numbers_list

[1, 3]

In [192]:
#try to extract ineuron out of this data
for i in L:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if j == 'ineuron':
                print(j)
    if type(i) == dict:
        for k in i.keys():
            if k == "ineuron":
                print(k)
        for v in i.values():
            if v == 'ineuron':
                print(v)

ineuron
ineuron

In [193]:
#try to find out a number of occurance of all the data:
num_of_occurance =[]

for i in L:
    if type(i) == list or type(i) == tuple or type(i) == set:
        num_of_occurance.extend(i)
    elif type(i) == dict:
        num_of_occurance.extend(i.keys())
        num_of_occurance.extend(i.values())
    elif type(i) == list:
        num_of_occurance.append(i)
for j in set(num_of_occurance):
    print(j,":",num_of_occurance.count(j))

1 : 1
2 : 2
3 : 4
4 : 4
5 : 3
6 : 3
7 : 2
Shaikh : 1
8 : 1
data science : 1
k1 : 1
45 : 1
k2 : 1
ineuron : 2
23 : 1
Shohaib : 1
k3 : 1

In [194]:
#try to find out number of keys in dictionary elements
for i in L:
    if type(i) == dict:
        print("The total number of keys are: ", i.keys())

The total number of keys are:  dict_keys(['k1', 'k2', 'k3', 3, 7])

In [195]:
#try to filter out all the string data
for i in L:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == str:
                print(j)
    if type(i) == dict:
        for k in i.keys():
            if k == str:
                print(k)
        for l in i.values():
            if type(l) == str:
                print(l)

Shohaib
ineuron
Shaikh
ineuron
data science

In [197]:
#try to find out multiplication of all the numeric value in the indivisual collections inside the dataset
mult_collection= 1
for i in L:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == int:
                mult_collection = mult_collection * j
    if type(i) == dict:
        for k in i.keys():
            if type(k) == int:
                mult_collection = mult_collection * k
        for l in i.values():
            if type(l) == int:
                mult_collection = mult_collection * l
                
                
mult_collection

908605071360000

In [198]:
#try to unwrap all the collection inside collection and create a flat list:
unwrapped_collection = []
for i in L:
    if type(i) == list or type(i) == tuple or type(i) == set:
        unwrapped_collection.extend(i)
    if type(i) == dict:
        unwrapped_collection.extend(i.keys())
        unwrapped_collection.extend(i.values())

In [199]:
unwrapped_collection

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'k2',
 'k3',
 3,
 7,
 'Shohaib',
 'ineuron',
 'Shaikh',
 6,
 8,
 'ineuron',
 'data science']